@model GitWebApp.Models.Post
@{
}

<div class="row">
    <div>
        <h3>@Model.Title</h3>
    </div>
    <div class="pull-right">
        @Model.PublishDate
    </div>
    <div>
        <div>@Html.Raw(Model.Content)</div>
    </div>
    
    <hr/>

</div>
