@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Andrii Tkach<br />
    <abbr title="Phone">P:</abbr>
    +38 050 522 59 36
</address>

<address>
    <strong>Support:</strong> <a href="mailto:at@winkas.dk">at@winkas.dk</a><br />
</address>
